@import "reset.css";

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Semibold';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ModBolda Alterna';
    src: url('../fonts/modbolda_alterna_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Gilroy Regular';
    font-weight: normal;
    font-size: 15px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.hide {
    display: none;
}

.title {
    font-family: 'Gilroy Semibold';
}

.header {}

.header__top {
    padding: 28px 0 16px 0;
    background-color: #f6f6f6;
}

.header__top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-right: 136px;
}

.header-logo__img {}

.header__address {
    font-size: 15px;
    position: relative;
}

.header__address::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/map-icon.png);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    margin-left: -41px;
    margin-top: 2px;
}

.header__social {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.fab {
    font-size: 20px;
    display: block;
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
}

.fa-telegram {
    background-image: url(../img/tg-icon.png);
    margin-right: 4px;
}

.fa-watsapp {
    background-image: url(../img/wa-icon.png);
    margin-right: 13px;
}

.header-social__number {
    font-size: 20px;
    color: #000;
    font-family: 'Gilroy Bold';
}

.header__btn {
    text-transform: uppercase;
    color: #FFF;
    padding: 17px 45px;
    background-color: #0932b8;
    border-radius: 30px;
    margin-top: 3px;
    font-family: 'Gilroy Semibold';
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.header__btn:hover {
    background-color: #335bd5;
}

.header__nav {
    padding: 13px 0;
    background-color: #335bd5;
    font-family: 'Gilroy Medium';
}

.header-nav__menu {
    display: flex;
    justify-content: space-around;
    max-width: 1071px;
    margin: 0 auto;
    flex-wrap: wrap;
    color: #fff;
    font-size: 20px;
}

.header-nav__menu li a {
    color: #fff;
    font-size: 20px;
}

.header-nav__menu li a:hover {
    color: #1c248e;
}

.header__main {
    font-size: 57px;
    position: relative;
}

.header__main::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 483px;
    z-index: -1;
    background-image: url(../img/header__bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);
}

.header__main-2 {
    position: relative;
    min-height: 115px;
    padding-top: 28px;
    padding-bottom: 30px;
}

.header__main-2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/header__bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__main .container {
    padding-left: 30px;
    padding-top: 64px;
}

.header-main__title {
    max-width: 600px;
    margin-bottom: 55px;
    text-transform: uppercase;
    font-family: 'ModBolda Alterna';
    line-height: 61px;

    background: linear-gradient(135deg,
            #1c248e 0%,
            #0039cc 33%,
            #1c248e 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 57.53px;
}

.header-main__title-2 {
    font-family: 'Gilroy Semibold';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.header-main__title span {
    font-size: 86.46px;
    display: block;
    margin-top: 16px;
    line-height: 77.82px;
}

.header-main__description {
    font-size: 22px;
    font-family: 'MYRIADPRO-REGULAR';
    text-transform: uppercase;
    margin-left: 4px;
}

.header-main__description-2 {
    font-size: 15px;
    font-family: 'Gilroy Regular';
}

.header__breadcrumb {
    border-bottom: 1px solid #d8d8d8;
    padding: 12px 0;
    font-size: 11px;
}

.header__breadcrumb ul {
    display: flex;
}

.header__breadcrumb li+li::before {
    content: "/";
    margin: 0 .5rem;
    color: #000;
}

.header__breadcrumb li>a:visited {
    color: #000;
}

.hero {
    padding-top: 112px;
}

.hero .container {
    display: flex;
    align-items: flex-start;
    gap: 62px;
    flex-wrap: wrap;
}

.hero__left {
    position: relative;
    flex: 0 0 405px;
}

.hero__left img {
    display: block;
    position: relative;
    z-index: 1;
}

.hero__left::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,
            rgb(28, 36, 142) 0%,
            rgb(135, 157, 223) 33%,
            rgb(0, 57, 204) 100%);
    z-index: -1;
    border-radius: 4px;
}

.hero__right {
    flex: 1 1 700px;
}

.hero__title {
    font-size: 30px;
    margin-top: -4px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.hero__description {}

.hero-description__p {
    margin-bottom: 1px;
}

.hero-description__p:last-child {
    margin-top: 16px;
}

.about-product {
    padding-top: 44px;
}

.about-product__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.about-product__main {
    display: flex;
}

.about-product__description {
    max-width: 83%;
}

.about-product__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-product__item {
    font-family: 'Gilroy Semibold';
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
}

.about-product__item img {
    margin-bottom: 10px;
}

.advantages {
    padding-top: 52px;
    padding-bottom: 128px;
}

.advantages__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 58px;
}

.advantages__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages__item {
    flex: 0 0 calc(33.333%);
    margin-bottom: 15px;
    text-align: center;
    justify-items: center;
}

.advantages__item:nth-child(3n) {
    margin-right: 0;
}

.advantages-item__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #f0f0f0 40%, #dcdcdc 100%);
    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.2),
        0 0 0 10px #0c0c61,
        0 0 0 12px white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
    transition: transform 0.2s ease;
}

.advantages-item__img:hover {
    transform: scale(1.05);
}

.advantages-item__img img {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 50%;
    background-color: #eaeaea;
    filter: brightness(1);
    transition: filter 0.2s ease;
}

.advantages-item__img img:hover {
    filter: brightness(0.8);
}

.advantages-item__title {
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'Gilroy Semibold';
}

.advantages-item__description {
    font-size: 22px;
}

.about {
    background-image: url(../img/about-bg.png);
    min-height: 547px;
    padding-top: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}

.about__description {
    font-family: 'Gilroy Medium';
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.about__description p {
    margin-bottom: 28px;
}

.news {
    padding-top: 58px;
    margin-bottom: 103px;
}

.news__title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 75px;
    font-family: 'Gilroy Semibold';
}

.news__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news__item {
    flex: 0 0 calc(33.333% - 30px);
}

.news-item__img {
    margin-bottom: 21px;
    width: 100%;
}

.news-item__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.news-item__date {
    margin-bottom: 10px;
    color: #1c248e;
    font-size: 14px;
    font-family: 'Gilroy Medium';
}

.news-item__description {
    font-size: 15px;
}

.footer {
    background-color: #efefef;
    min-height: 400px;
    display: flex;
}

.footer__maps,
.footer__socials {
    flex: 1;
}

.footer__maps {
    background-image: url(../img/maps.png);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-left: 104px;
}

.footer__socials::after {
    content: "";
    background-image: url(../img/footer-icon.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: right+32px center;
}

.footer__social {
    font-size: 24px;
    font-family: 'Gilroy Medium';
}

.footer__social::before {
    content: "";
    background-image: url(../img/footer-icon/wa.png);
    background-repeat: no-repeat;
    margin-right: 15px;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.footer__social:nth-child(2)::before {
    background-image: url(../img/footer-icon/inst.png);
}

.footer__social:nth-child(3)::before {
    background-image: url(../img/footer-icon/vk.png);
}

.footer__social:nth-child(4)::before {
    background-image: url(../img/footer-icon/tg.png);
}

.footer__social:nth-child(5)::before {
    background-image: url(../img/footer-icon/time.png);
}

.footer__social:nth-child(6)::before {
    background-image: url(../img/footer-icon/geo.png);
}

.footer-social__link {
    color: #000;
}

@media (max-width: 1800px) {
    .footer__socials:after {
        display: none;
    }
}

@media (max-width: 1440px) {
    .header__main .container {
        padding-top: 50px;
        padding-left: 140px;
    }

    .header-main__title {
        margin-bottom: 0;
    }

    .header-main__title span {
        font-size: 70px;
        margin-top: 16px;
    }

    .header__main::before {
        min-height: 0;
    }
}

@media (max-width: 1200px) {
    .header__main .container {
        padding-left: 125px;
    }

    .header-main__title {
        font-size: 48px;
    }

    .header-main__title span {
        font-size: 64px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 97%;
    }

    .header__logo {
        margin-right: 50px;
    }

    .header__btn {
        padding: 5px 25px;
    }

    .header__main .container {
        padding-left: 40px;
    }

    .header-main__title span {
        font-size: 58px;
    }

    .hero__left {
        margin: 0 auto;
    }

    .hero__title {
        text-align: center;
    }

    .advantages__item {
        margin-bottom: 50px;
    }

    .about {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .footer__socials {
        margin-left: 45px;
    }
}

@media (max-width: 853px) {
    .header__logo {
        max-width: 150px;
    }

    .header__address {
        font-size: 11px;
    }

    .header-social__number {
        font-size: 18px;
    }

    .footer__social {
        font-size: 20px;
    }
}


@media (max-width: 820px) {
    .header-logo__img {
        max-width: 130px;
    }

    .header__address {
        font-size: 12px;
    }

    .header-social__number {
        font-size: 16px;
    }

    .header__main .container {
        padding-left: 30px;

    }

    .header-main__title span {
        font-size: 58px;
    }

    .footer {
        flex-direction: column;
    }

    .footer__social {
        font-size: 18px;
    }

    .footer__maps {
        background-position: center;
    }
}

@media (max-width: 768px) {
    .header__logo {
        width: 110px;
    }

    .header__address {
        font-size: 11px;
    }

    .header__btn {
        padding: 10px 6px;
        font-size: 14px;
    }

    .header-social__number {
        font-size: 15px;
    }

    .header-nav__menu li a {
        font-size: 15px;
    }

    .header__main .container {
        padding-left: 20px;
    }

    .header-main__title {
        font-size: 24px;
    }

    .header-main__title span {
        font-size: 48px;
        margin-top: -10px;
        line-height: 1;
    }

    .header-main__description {
        font-size: 16px;
    }

    .header__main::before {
        background-size: auto;
    }

    .hero {
        padding-top: 50px;
    }

    .about__description {
        font-size: 18px;
    }

    .footer__social {
        font-size: 15px;
    }
}

@media (max-width: 540px) {
    .header__main .container {
        padding-left: 10px;
    }

    .header-main__title {
        font-size: 20px;
    }

    .header-main__title span {
        font-size: 38px;
    }

    .header-main__description {
        font-size: 12px;
    }

    .footer__socials {
        margin-left: 20px;
    }

    .footer__social {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .header__top .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header__logo {
        margin-bottom: 25px;
        margin-right: 0;
    }

    .header__address {
        margin-bottom: 20px;
    }

    .header__address::before {
        display: none;
    }

    .header__main::before {
        background-image: none;
    }

    .header-main__title {
        text-align: center;
    }

    .header-main__description {
        text-align: center;
    }

    .header-main__title span {
        margin-top: -10px;
    }

    .header-nav__menu li a {
        font-size: 18px;
    }

    .advantages-item__img {
        margin-bottom: 30px;
    }

    .hero__left {
        max-width: 90%;
    }

    .advantages-item__title {
        font-size: 16px;
    }

    .advantages-item__description {
        font-size: 15px;
    }

    .advantages {
        padding-bottom: 0;
    }

    .about-product__main {
        flex-direction: column;
    }

    .about-product__description {
        margin-bottom: 10px;
    }

    .about-product__items {
        flex-direction: row;
    }

    .about__description {
        font-size: 15px;
    }

    .news {
        padding-top: 0;
    }

    .news__title {
        margin-bottom: 25px;
    }

    .news__items {
        gap: 20px;
    }

    .news__item {
        flex: 0 0 100%;
    }

    .footer__maps {
        display: none;
    }
}

@media (max-width: 320px) {
    .header__top .container {
        justify-content: center;
        margin-right: 0;
        gap: 10px;
    }

    .header-main__title span {
        margin-top: 0;
        font-size: 36px;
    }

    .header-main__title {
        line-height: 1;
    }

    .advantages__item {
        flex: 100%;
    }

    .about {
        margin-bottom: 20px;
    }

    .about__description {
        padding-bottom: 10px;
    }

    .footer__social {
        font-size: 12px;
    }
}